<script>
				 	// These props get filled in from the page's front matter 	
				 	export let title 
				 	export let author
				 	export let date 
</script> 

<svelte:head> 	
				<title>আলাপ | {title}</title> 	<meta property="og:title" content={title} /> 

</svelte:head> 


<article>
<summary class="px-6 text-center py-4"> 	
				<h1 class="text-3xl">{title}</h1>
				<h2 class="text-xl">{author}</h2>
				<h3 class="text-lg text-gray-700">{date}</h3>
</summary>
<div class="prose container px-6 pb-6 mx-auto lg:prose-xl">
				<slot /> 	
</div>
								<a href="..">
												<h1 class="rounded-full text-center bg-pink-100 shadow-md text-pink-600 mx-12 text-lg py-2">প্রথম পাতা</h1>
								</a> 

</article>