<script>
	// get an array of all routes
	const routes = import.meta.globEager("./blog/*.svx");

	// make them more usable by grabbing the title from frontmatter and the href
	const links = Object.entries(routes).map(([name, { metadata }]) => ({
		href: name.replace(".svx", ""),
		keyword: metadata.keyword,
		intro: metadata.intro
	}));

</script>

<header class="container mx-auto py-4 text-center">

				<h1 class="text-5xl text-transparent bg-clip-text bg-gradient-to-r from-pink-500  to-pink-600">আলাপ</h1>
				<h2 class="text-xl text-transparent bg-clip-text bg-gradient-to-r from-pink-500  to-pink-600">অকপটে অনুরাগে</h2>

</header>



<section class="container grid grid-cols-1 md:grid-cols-2 gap-4 mx-auto pt-12">

	{#each links as { href, keyword, intro }}
<a {href}>
		<div class="text-transparent bg-clip bg-gradient-to-b from-pink-50  to-pink-100 shadow-md py-8"><h1 class="px-4 text-lg text-pink-600">{keyword}</h1>
		<p class="text-justify text-gray-800 px-4">{intro}</p>
		 </div>
</a>
	{/each}
</section>